#loading-container {
    height: 1fr;
    align: center middle;
}

#welcome-message {
    width: 100%;
    text-align: center;
}


#main-container.hidden {
    display: none;
}

Screen > Container {
    layout: vertical;
    grid-gutter: 1;
}

#partition_summary_table {
    height: 1fr;
}

#node_job_summary {
    height: auto;
}

#job_summaries {
    height: 1fr;
}

HorizontalGroup {
    height: 100%;
    layout: horizontal;
}

#node_summary_table {
    width: 1fr;
}

VerticalGroup {
    width: 1fr;
}

#job_summary_table {
    height: 1fr;
}

#pending_job_wait_time_stats_table {
    height: 1fr;
}

#user_job_summary_table {
    width: 1fr;
    height: 1fr;
}

#account_job_summary_table {
    width: 1fr;
    height: 1fr;
}
